@* Copyright © 2021 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model MyApp.Backend.ViewModels.Categories.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@using Platformus.Core
@{
  this.ViewBag.Title = this.Localizer["Categories"];
  this.ViewBag.ActiveMenuItem = "categories";
}
<title-bar>
  <neutral-button icon="Icons.Create" href="/backend/categories/create">@Localizer["Create category"]</neutral-button>
</title-bar>
<filter>
  <text-filter property-path="Name.Value.Contains" label="@Localizer["Name"].Value" />
</filter>
<table sorting="@Model.Sorting">
  <columns>
    <column label="@Localizer["Name"].Value" sorting-property-path="@ViewContext.HttpContext.CreateLocalizedSorting("Name")" />
    <column label="@Localizer["Position"].Value" sorting-property-path="Position" />
  </columns>
  <rows>
    @foreach (var category in this.Model.Categories)
    {
      <partial name="_Category" for="@category" />
    }
  </rows>
</table>
<pager offset="@Model.Offset" limit="@Model.Limit" total="@Model.Total" />